
<h1>Este es mi proyecto {{project.name}}</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum accusantium aspernatur optio laudantium fugit quam ex repellendus quod nemo laborum!</p>

<img src={{project.image}} alt={{project.name}} crossorigin="anonymous">

